/*con esto saco el scroll*/
*{
	margin: 0;
	padding: 0;	
}

#hero{
	width: 100%;
}

#marca {
 font-family: 'Tangerine', cursive;
 font-weight: bold;  
 font-size: 200%;
}

.bg-image{     
   background-size:100%;
   background-repeat: no-repeat;
   height: 700px;
   font-family: 'Georgia', cursive;
	font-size: 200%;	
	/*-webkit-text-stroke: 1px grey;*/

}


.inicio{
	background-color: #E2DEA9;
}

.container-info{
		display:grid;
		gap: 15px;
		height: 420px;
		/*max-width: 1200px;*/		
		grid-template-areas: 
		'imagen texto calendario';		
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: auto;	
		margin-left: 0;
		background-color: #E2DEA9;
			
}

.container-bienvenida{
	display:grid;	
	height: 100px;
	width: 100%;		
	grid-template-areas: 
	'bienvenida logo';		
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	padding-bottom: 15px;
}

.bienvenida{
	display: grid;
	height: 100%;
}

.logo{
	display: grid;
	height: 100%;
}

.info{
	display: grid;
	grid-area: texto;	
	text-align: justify;
	margin: 15px;	
}

.imagen{
	
	display: grid;
	grid-area: imagen; 
   
}

div.noticia {  
  width: 60%;
  margin: 20px auto;  
  padding: 15px;
  
}

div.noticia img.izquierda {
  float: left;
  margin-right: 15px;
  width: 50%;  
  margin-bottom: 30px; 
}

div.noticia img.derecha {
  float: right;
  margin-left: 15px;
  width: 50%;  
}


.texto-der-izq{	
	margin-bottom: 6%;
}

div.reset {
  clear: both;
}





