
$bgColor: #E05595B;
$size15px: 15px;
$grid: grid;

.container-info{
	display: $grid;
	/*gap: $size15px;*/
	height: 100%;			
	grid-template-areas: 
	'imagen texto';		
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto;	
	/*margin-left: 0;*/
	background-color: $bgColor;	
			
}

.info{
	display: grid;
	grid-area: texto;		
	/*margin: $size15px;*/

	h4{
		text-align: justify;
		font-size: 110%;
	}	
}

.imagen{
	
	display: $grid;
	grid-area: imagen; 
	/*padding: 3%;*/	
	width: 60%;
   
}