/*con esto saco el scroll*/
*{
	margin: 0;
	padding: 0;	
}

body{
	overflow-x: hidden;
}

html{
	font-size: 65%;	
}


.container-area{
		display:grid;
		gap: 15px;
		height: 700px;
		max-width: 1200px;
		margin: 15px;	
		grid-template-areas: 
		'nombre . logo'
		'menu imagen texto'
		'. imagen texto'
		'pie pie pie';
		grid-template-columns: 1fr 1fr 2fr;
		grid-template-rows: auto;	
		margin-left: auto;
		margin-right:auto;		
}

.container-formularios{
		display:grid;
		gap: 15px;
		height: 700px;
		max-width: 1200px;
		margin: 15px;	
		grid-template-areas: 
		'nombre . logo'
		'menu texto texto'
		'. texto texto'
		'pie pie pie';
		grid-template-columns: 1fr 1fr 2fr;
		grid-template-rows: auto;			
}

/*.nombre,
.logo,
.menu, 
.imagen,
.info,
.footer{
	border: 3px solid black;
}*/

.nombre{
	grid-area: nombre;
	color: #9C0F48;	

}

.menu{
	grid-area: menu;	
}

.footer{
	grid-area: pie;
	background-color: #C3DBD9;
	font-family: tahoma;
   color: #51050F;
   font-size: 1.5rem;
   padding-top: 50px;
   text-align: center;
   font-weight: bold;	  
	   
}


.info{
	display: grid;
	grid-area: texto;		
}


.logo{  
   grid-area: logo; 
   height: 150px; 
   background-image: url("https://thumbs.dreamstime.com/b/watercolor-lotus-flower-blue-pink-purple-102046565.jpg");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: bottom right;   
}

.formularios{
	width: 100%;
	height: auto;
	background: #BB6464;	
	border: 0px;
	margin-left: 350px;
   margin-right: 350px;
	margin-top:40px;
	grid-area: texto;
}


.estiloTitulo{
	color: #D67D3E;	;
	font-size: 30px;
	text-align: left;
	font-family: tahoma;
    font-weight: bold;

}

.imagenesArt{
   border: 2px solid #BB6464;
   border-radius: 4px;
   padding: 1px;
   width: 90%;   
}

.imagen{
	display: grid;
	grid-area: imagen; 
   
}

.navBackground {		
	/*background-color: #BB6464;	*/	
	text-align: left;
	padding-left: 10px;	
	padding-top: 10px;
	height: 100%;
	width: 60%;
	border-radius: 5px;
	background-image: linear-gradient(180deg, #BB6464, #CDB699, #C3DBD9);
}

.sucursalTexto{
	display:block ;
	color: white;
	font-family: tahoma;
	font-size: 15px;
	font-weight: normal;
	text-align: left;	
	top: 10px;
	bottom: 10px;
	padding: 10px;
}

li a{
	text-decoration: none;
	color: white;
	transition: width 1s;
}

a:hover{
	color: #BB6464;
}


h1{
	color:#C36A2D;	;
	font-size: 40px;
	text-align: left;
	font-family: tahoma;    
   font-weight: bold;
	padding-top: 25px;	

}


h4{
	color: slategrey;
	font-family: tahoma;
	font-size: 16px;
	font-weight: normal;
	text-align: justify;	
	line-height: 30px;	
	padding-right: 25px;
	padding-bottom: 25px;	
}


ul {
   list-style: none;   
   font-family: tahoma;
   font-weight: bold;
}

nav ul li {  
   width: 10%;   
   position:relative;
   font-size: 2rem; 
   list-style: none;   
   font-family: tahoma;
   font-weight: bold;  
}

/*estilos aplicados desde los 460px*/
/*@media(min-width: 460px){
	section{
		background-color: red;
	}
}

/*estilos aplicados hasta los 460px*/
@media(max-width: 460px){
	
	.container-area{
		display:grid;
		max-width: 460px;	
		height: 700px;
		margin: 25px;		
		grid-template-areas:		 
		'logo'
		'nombre'
		'menu'
		'imagen'
		'texto'
		'pie';
		grid-template-columns: 1fr;
		grid-template-rows: auto;	
			
		}

	.logo{
		grid-area: logo; 
		height: 100px;
		background-image: url("https://thumbs.dreamstime.com/b/watercolor-lotus-flower-blue-pink-purple-102046565.jpg");
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: center;
	}

	.footer{
		grid-area: pie;
		background-color: #FDA65D;
		font-family: tahoma;		
	   color: #51050F;
	   font-size: 10px;
	   font-weight: bold;	  
	   text-align: center;	  
	     
	}

	h1{
		color:#C36A2D;	;
		font-size: 40px;
		text-align: center;
		font-family: tahoma;    
	   font-weight: bold;	
		padding-top: 0px;
	}

	h4{		
		font-size: 16px;		
		width: 100%;	
		text-align: justify-all;		
	}

	/*.nombre{
		grid-area: nombre;
		color: blue;	
		align-content: center;
	}*/
	.imagen{		
		grid-area: imagen; 		
		width: 97%; 
	}

	.imagenesArt{
   	border: 2px solid #BB6464;
	   border-radius: 4px;	     
	   width: 100%; 
	  
	}

	.info{		
		grid-area: texto;			
		
	}

	.navBackground {	
		background-color: transparent;	
		background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTry-rB-sOgjcV3KJeeMJJCwgYu40ozZ728tMANc9Zoi2HbVCMyvefHvPP-iYUmJHQwWak&usqp=CAU");
		width: 15%;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
	}
	

	nav ul li {  
	  display: none;
	}

	.sucursalTexto{
		display:block ;
		color: white;
		font-family: tahoma;
		font-size: 15px;
		font-weight: normal;
		text-align: justify;	
		top: 10px;
		bottom: 10px;
		padding: 10px;
	}

}

/*se aplica a > ancho landscape o portrait*/
/*@media(orientation:  landscape){
	h1{
		display: none;
	}
}*/



